
<h2>Enter stations graph to get started:</h2>

<%= form_tag("/result", multipart: "true") do %>
  <%= label_tag(:graph, "Enter Station Graph:") %>
  <%= text_field_tag(:graph) %>
  <%= submit_tag("Calculate") %>
<% end %>

<%= form_tag("/result", multipart: "true") do %>
  <%= label_tag(:graph, "Upload Station Graph:") %>
  <%= file_field_tag(:uploaded_file) %>
  <%= submit_tag("Calculate") %>
<% end %>
