<p>Output #1: <span class="output"><%= @output1 %></span></p>
<p>Output #2: <span class="output"><%= @output2 %></span></p>
<p>Output #3: <span class="output"><%= @output3 %></span></p>
<p>Output #4: <span class="output"><%= @output4 %></span></p>
<p>Output #5: <span class="output"><%= @output5 %></span></p>
<p>Output #6: <span class="output"><%= @output6 %></span></p>
<p>Output #7: <span class="output"><%= @output7 %></span></p>
<p>Output #8: <span class="output"><%= @output8 %></span></p>
<p>Output #9: <span class="output"><%= @output9 %></span></p>
<p>Output #10: <span class="output"><%= @output10 %></span></p>
