<p>Output #1: <%= @output1 %></p>
<p>Output #2: <%= @output2 %></p>
<p>Output #3: <%= @output3 %></p>
<p>Output #4: <%= @output4 %></p>
<p>Output #5: <%= @output5 %></p>
<p>Output #6: <%= @output6 %></p>
<p>Output #7: <%= @output7 %></p>
<p>Output #8: <%= @output8 %></p>
<p>Output #9: <%= @output9 %></p>
<p>Output #10: <%= @output10 %></p>
